.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    margin:auto;
    height: 250px; /* Your height here */
    overflow: hidden;
}

.card-content{
    overflow:hidden;
}
